/* No AI content generated in this file. */

.parent-container-input-and-go-button {
    display: flex;
    flex-direction: column;
}

#memoryGameNumInput {
    width: 180px;
}

#memoryGameInputLabel {
    padding-bottom: 10px;
}

#boxGameArea {
    position: relative;
    width: 100%;
    height: 80vh; 
}

.memory-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10em;
    height: 5em;
    font-size: 16px;
    font-weight: bold;
    color: black;
}